@use "../../styles/variables.scss" as *;

.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 2em;
    padding-left: 0;
  }

  & li.recent-li {
    margin-bottom: 1em;

    & > .section {
      display: grid;
      grid-template-columns: 3fr 1fr;

      @media all and ($mobile) {
        & > .tags {
          display: none;
        }
      }

      & > .desc > h3 > a {
        background-color: transparent;
      }

      & .meta {
        margin: 0 1em 0 0;
        opacity: 0.6;
      }
    }
  }
}
